.body {
          background-image:url('C:\Users\Mr\Downloads\Compressed\ConstructoApp_2\ConstructoApp\ConstructoApp\Content\images\construction.jpg');
          background-repeat:no-repeat;
          background-attachment:fixed;
}
