@{
    ViewBag.Title = "imageUpload";
    Layout = "~/Views/Shared/_Admin.cshtml";
}
<link href="~/Scripts/bootstrap.css" rel="stylesheet" />
<link href="~/Scripts/bootstrap.min.css" rel="stylesheet" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<div class="row">
    <div class="col-md-4">
        @{

               if (ViewBag.str1 != "" || ViewBag.str1 != null)
               {
                   <h2>@ViewBag.message </h2>
               }
           }

<form role="form" style="margin-left: 45%  ; padding: 0" action="~/Admin/imageUpload" method="post" enctype="multipart/form-data">   
         <input type="file" name="file1" id="pic1"> <br /><br />
         <button type="submit" class="btn btn-success"> Upload pics</button>
    </form>
        </div>
 </div>